.addButton {
  position: absolute;
  left: 50%;
  top: calc(var(--card-height) / 3 * 2);
  width: 52px;
  height: 52px;
  font-size: 1.9rem;
  border: 1px solid #d53a79;
  border-radius: 50%;
  background: #f93984;
  background: linear-gradient(
    0deg,
    rgba(249, 57, 132, 1) 0%,
    rgba(243, 105, 77, 1) 100%
  );
  box-shadow: 0 0.625rem 0.9375rem #fc82b5;
  color: var(--card-text-color-light);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
